<%if @user.errors.present?%>
$("#showErrorMsg").html('');
	<%@user.errors.to_a.each do |msg|%>
		$("#showErrorMsg").append("<li class='parsley-required'><%= msg%></li> ")
	<%end%>
<%else%>
		$("#popup_div").modal('hide');
		alert("Successfully updated password");
<%end%>