<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>sidebar</title>
        
    </head>
    <body>

    <div class="wrapper">
				<!-- Sidebar Holder -->
				<nav id="sidebar">
					<div id="dismiss">
						<!-- <i class="glyphicon glyphicon-arrow-left"></i> -->
						<input type="checkbox" name="mobile-nav" id="mobile-nav" class="gaadiexp-check" onchange="this.blur()">
          <label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
					</div>

					

					<ul class="list-unstyled components">
			
						   <li> <a href="#">Home</a></li>
						   <!--  <ul class="collapse list-unstyled" id="homeSubmenu">
								<li><a href="#">Home 1</a></li>
								<li><a href="#">Home 2</a></li>
								<li><a href="#">Home 3</a></li>
							</ul> -->
						</li>
						<li>
							<a href="#">About</a>
					  <!--       <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a> -->
						   <!--  <ul class="collapse list-unstyled" id="pageSubmenu">
								<li><a href="#">Page 1</a></li>
								<li><a href="#">Page 2</a></li>
								<li><a href="#">Page 3</a></li>
							</ul> -->
						</li>
						<li>
							<a href="#">Service</a>
								
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
						<li>
							<a href="#">Career</a>	
						</li>
					</ul>

				   
				</nav>

				<!-- Page Content Holder -->
				<div id="content">

					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" id="sidebarCollapse" class="btn btn-default navbar-btn">
									<i class="glyphicon glyphicon-align-justify"></i>
									<span>menu</span>
								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li><a href="#">Password</a></li>
									<li><a href="#">Email</a></li>
						<li>
							<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>										
							<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
							  <div class="modal-dialog">
									<div class="loginmodal-container">
									<h1>Login to Your Account</h1><br>
								  <form>
									<input type="text" name="user" placeholder="Username">
									<input type="password" name="pass" placeholder="Password">
									<input type="submit" name="login" class="login loginmodal-submit" value="Login">
								  </form>
									
								  <div class="login-help">
									<a href="#">Register</a> - <a href="#">Forgot Password</a>
								  </div>
								<button type="reset" class="btn btn-default"  data-dismiss="modal">Cancel</button>
								</div>
							</div>
						 </div>
						</li>


				<!-- sign-up -->
					<li> 
						<a href="#" data-toggle="modal" data-target="#Sign-Up-modal">Sign-Up</a>										
							<div class="modal fade" id="Sign-Up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
							  <div class="modal-dialog">
									<div class="loginmodal-container">
									<h1>Sign-Up to Your Account</h1><br>
								  <form>
									<input type="text" name="user" placeholder="Username">
									<input type="password" name="pass" placeholder="Password">
									<input type="submit" name="login" class="login loginmodal-submit" value="Login">
								  </form>
									
								  <div class="login-help">
									<a href="#">Register</a> - <a href="#">Forgot Password</a>
								  </div>
									<button type="reset" class="btn btn-default"  data-dismiss="modal">Cancel</button>
								</div>
							</div>
						 </div>
					</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
    </div>

<!-- slider now -->

<div class="container-fluid">
        <div class="row">
        	<div class="col-md-12" style="padding:0">
            
            
<!-- Start cssSlider.com -->
	<div class='csslider1 autoplay '>
		<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
		<input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor' >
		<ul>
			<div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
				<img src="img/3.jpg" style="width: 100%;">
			</div>
			<li class='num0 img'>
				 <img src='img/2.jpg ' alt='' title='' />  
			</li>
			<li class='num1 img'>
				<img src='img/1.jpg' alt='' title='' />  
			</li>
			<li class='num2 img'>
				 <img src='img/4.jpg ' alt='' title='' /> 
			</li>
		
		</ul>
		<!-- <div class='cs_description'>
			<label class='num0'>
				<span class="cs_title"><span class="cs_wrapper">chiken</span></span>
			</label>
			<label class='num1'>
				<span class="cs_title"><span class="cs_wrapper">Motton</span></span>
			</label>
			<label class='num2'>
				<span class="cs_title"><span class="cs_wrapper">Kabab</span></span>
			</label>
		</div> -->
		
		<div class='cs_arrowprev'>
			<label class='num0' for='cs_slide1_0'></label>
			<label class='num1' for='cs_slide1_1'></label>
			<label class='num2' for='cs_slide1_2'></label>
		</div>
		<div class='cs_arrownext'>
			<label class='num0' for='cs_slide1_0'></label>
			<label class='num1' for='cs_slide1_1'></label>
			<label class='num2' for='cs_slide1_2'></label>
		</div>
		
		
		</div>
	
              
            </div><!--md12-->
        </div><!--row-->
    </div><!--container-->



<!-- slider end -->


<!-- product now -->
<div class="container-fluid">
	<h1 style="text-align:center;">Product Service</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="http://keenthemes.com/assets/bootsnipp/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">Zoom</a>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
              <div class="sticker sticker-new"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="http://keenthemes.com/assets/bootsnipp/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">Zoom</a>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">Zoom</a>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
		 <div class="col-md-3">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">Zoom</a>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
    </div>
	<hr>
	<div class="row">
        <div class="col-md-3">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="http://keenthemes.com/assets/bootsnipp/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">Zoom</a>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
              <div class="sticker sticker-new"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="http://keenthemes.com/assets/bootsnipp/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">Zoom</a>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">Zoom</a>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
		 <div class="col-md-3">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="http://keenthemes.com/assets/bootsnipp/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">Zoom</a>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<br>
<br>

<!-- product end -->

<div class="container">
	<div class="row">
		<div class="rocks">
			<div class="col-md-6">
				sign-up
			</div>
			<div class="col-md-6">
				
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
</head>
<body>

<h2>Login Form</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required class="form-control">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required class="form-control">
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>

			</div>
		</div>
	</div>
</div>





<!-- footer now -->
<section class="index-link">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="link-area">
                    <h3>ABOUT US</h3><hr>
                    <P>Building Consensus among your Senior leaders to leverage your digital strengths and work on gaps which are hindering your growth.</P><hr>
                    <li class="fa-li"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="fa-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="fa-li"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </div>
            </div>
            <div class="col-md-4">
                <div class="link-area">
                    <h3>Quik link</h3><hr>
                    <ul>
						<li><a href="#"> Home</a></li><hr>
						<li><a href="#"> About</a></li><hr>
						<li><a href="#"> Services</a></li><hr>
						<li><a href="#"> Career</a></li><hr>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="link-area">
                    <h3>Contact-Us</h3>
                    <ul><hr>
					<li>Address:</li>
						<li>  E -88 Ground Floor, Noida Sec 63, Pin 201301 Delhi NCR, INDIA </li><hr>
						<li>  Mobile No : 123456789</li><hr>
						<li>  Emai ID :info111@gmail.com</a></li><hr>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="link-area">
                    <h3>LEARM MORE</h3>
                    <ul>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="index-social">
    <div class="container">
    <div class="row index-social-link text-center">
            <p class="copy-c">  Copyright 2018 © CssFounder.com All Rights Are Reserved.</p>
        </div>
        </div>
</section>

<!-- footer end -->

        <div class="overlay"></div>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>

        <script>
		$(document).ready( function() {
    $('#myCarousel').carousel({
		interval:   4000
	});
	
	var clickEvent = false;
	$('#myCarousel').on('click', '.nav a', function() {
			clickEvent = true;
			$('.nav li').removeClass('active');
			$(this).parent().addClass('active');		
	}).on('slid.bs.carousel', function(e) {
		if(!clickEvent) {
			var count = $('.nav').children().length -1;
			var current = $('.nav li.active');
			current.removeClass('active').next().addClass('active');
			var id = parseInt(current.data('slide-to'));
			if(count == id) {
				$('.nav li').first().addClass('active');	
			}
		}
		clickEvent = false;
	});
});
        </script>
    </body>
</html>
