<div>
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading panel-view">
        <h2 class="heading" style="float:left;border:none;">Doc Help</h2>
        <div class="pull-right">
            <%= link_to "<h5><i class='fa fa-plus' aria-hidden='true'></i> New Tonguestun</h5>".html_safe, {:controller => "tonguestuns",:action => "new"},'data-toggle' => 'modal', 'data-target' => '#popup_div', 'data-backdrop' => "static", :remote => true, class: "btn btn-success" %>
        </div>
      </div>
      <hr style="margin:0 15px">
      <div class="clearfix"></div>
      <div class="table-responsive" id="appointment_div">
           <%= render 'appointment_list' %>
      </div>
    </div>
  </div>
</div>